[Desktop Entry]
Name=nm-applet
GenericName=network manager applet
Exec=nm-applet
Icon=nm-applet
Terminal=false
Type=Application
Categories=Network;
StartupNotify=false
