[Desktop Entry]
Name=uibk-applet
GenericName=uibk vpn applet
Exec=/home/lukas/bin/uibkvpn/uibkvpn.py
Icon=uibk-applet
Terminal=false
Type=Application
Categories=Network;
StartupNotify=false
